<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.cattle.dao.breed.BreedDao">
    <select id="listBreedRegister" resultType="com.manage.cattle.dto.breed.BreedRegisterDTO">
        select
            t.id,t.createUser,t.createTime,t.updateUser,t.updateTime,
            t.registerId,tz.farmId,tf.farmName,tf.owner farmOwner,tf.admin farmAdmin,tf.employee farmEmployee,
            tc.farmZoneId,tz.farmZoneCode,t.cattleId,tc.cattleCode,
            t.frozenSemenCode,t.frozenSemenBreed,t.breedingDay,t.breedingMethod,t.operateUser
        from t_breed_register t
        left join t_cattle tc on t.cattleId=tc.cattleId
        left join t_farm_zone tz on tc.farmZoneId=tz.farmZoneId
        left join t_farm tf on tz.farmId=tf.farmId
        where 1=1
        <if test="farmName!=null and farmName!=''">
            and tf.farmName like concat('%',#{farmName},'%')
        </if>
        <if test="farmZoneCode!=null and farmZoneCode!=''">
            and tz.farmZoneCode like concat('%',#{farmZoneCode},'%')
        </if>
        <if test="cattleCode!=null and cattleCode!=''">
            and tc.cattleCode like concat('%',#{cattleCode},'%')
        </if>
        <if test="frozenSemenCode!=null and frozenSemenCode!=''">
            and t.frozenSemenCode like concat('%',#{frozenSemenCode},'%')
        </if>
        <if test="frozenSemenBreed!=null and frozenSemenBreed!=''">
            and t.frozenSemenBreed=#{frozenSemenBreed}
        </if>
        <if test="breedingDay!=null and breedingDay!=''">
            and t.breedingDay=#{breedingDay}
        </if>
        <if test="breedingMethod!=null and breedingMethod!=''">
            and t.breedingMethod=#{breedingMethod}
        </if>
        <if test="operateUser!=null and operateUser!=''">
            and t.operateUser like concat('%',#{operateUser},'%')
        </if>
        <if test="registerId!=null and registerId!=''">
            and t.registerId like concat('%',#{registerId},'%')
        </if>
        order by breedingDay desc,farmName,farmZoneCode,cattleCode
    </select>

    <select id="listBreedRegisterByIds" resultType="com.manage.cattle.dto.breed.BreedRegisterDTO">
        select
        t.id,t.createUser,t.createTime,t.updateUser,t.updateTime,
        t.registerId,tz.farmId,tf.farmName,tf.owner farmOwner,tf.admin farmAdmin,tf.employee farmEmployee,
        tc.farmZoneId,tz.farmZoneCode,t.cattleId,tc.cattleCode,
        t.frozenSemenCode,t.frozenSemenBreed,t.breedingDay,t.breedingMethod,t.operateUser
        from t_breed_register t
        left join t_cattle tc on t.cattleId=tc.cattleId
        left join t_farm_zone tz on tc.farmZoneId=tz.farmZoneId
        left join t_farm tf on tz.farmId=tf.farmId
        where t.id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by breedingDay desc,farmName,farmZoneCode,cattleCode
    </select>

    <select id="getBreedRegister" resultType="com.manage.cattle.dto.breed.BreedRegisterDTO">
        select
            t.id,t.createUser,t.createTime,t.updateUser,t.updateTime,
            t.registerId,tz.farmId,tf.farmName,tf.owner farmOwner,tf.admin farmAdmin,tf.employee farmEmployee,
            tc.farmZoneId,tz.farmZoneCode,t.cattleId,tc.cattleCode,
            t.frozenSemenCode,t.frozenSemenBreed,t.breedingDay,t.breedingMethod,t.operateUser
        from t_breed_register t
        left join t_cattle tc on t.cattleId=tc.cattleId
        left join t_farm_zone tz on tc.farmZoneId=tz.farmZoneId
        left join t_farm tf on tz.farmId=tf.farmId
        where t.registerId=#{registerId}
    </select>

    <insert id="addBreedRegister">
        insert into t_breed_register(createUser,createTime,updateUser,updateTime,
                                     registerId,cattleId,frozenSemenCode,frozenSemenBreed,
                                     breedingDay,breedingMethod,operateUser)
        values (#{createUser},now(),#{updateUser},now(),
                #{registerId},#{cattleId},#{frozenSemenCode},#{frozenSemenBreed},
                #{breedingDay},#{breedingMethod},#{operateUser})
    </insert>

    <delete id="delBreedRegister">
        delete from t_breed_register
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="listBreedPregnancyCheck" resultType="com.manage.cattle.dto.breed.BreedPregnancyCheckDTO">
        select
            t.id,t.createUser,t.createTime,t.updateUser,t.updateTime,
            t.registerId,tz.farmId,tf.farmName,tf.owner farmOwner,tf.admin farmAdmin,tf.employee farmEmployee,
            tc.farmZoneId,tz.farmZoneCode,tr.cattleId,tc.cattleCode,
            t.checkDay,t.checkUser,t.result
        from t_breed_pregnancy_check t
        left join t_breed_register tr on t.registerId=tr.registerId
        left join t_cattle tc on tr.cattleId=tc.cattleId
        left join t_farm_zone tz on tc.farmZoneId=tz.farmZoneId
        left join t_farm tf on tz.farmId=tf.farmId
        where 1=1
        <if test="registerId!=null and registerId!=''">
            and t.registerId like concat('%',#{registerId},'%')
        </if>
        <if test="farmName!=null and farmName!=''">
            and tf.farmName like concat('%',#{farmName},'%')
        </if>
        <if test="farmZoneCode!=null and farmZoneCode!=''">
            and tz.farmZoneCode like concat('%',#{farmZoneCode},'%')
        </if>
        <if test="cattleCode!=null and cattleCode!=''">
            and tc.cattleCode like concat('%',#{cattleCode},'%')
        </if>
        <if test="checkDayStart!=null and checkDayStart!=''">
            and t.checkDay &gt;= #{checkDayStart}
        </if>
        <if test="checkDayEnd!=null and checkDayEnd!=''">
            and t.checkDay &lt;= #{checkDayEnd}
        </if>
        <if test="checkUser!=null and checkUser!=''">
            and t.checkUser like concat('%',#{checkUser},'%')
        </if>
        <if test="result!=null and result!=''">
            and t.result like concat('%',#{result},'%')
        </if>
        order by checkDay desc,farmName,farmZoneCode,cattleCode
    </select>

    <select id="listBreedPregnancyCheckByIds" resultType="com.manage.cattle.dto.breed.BreedPregnancyCheckDTO">
        select
            t.id,t.createUser,t.createTime,t.updateUser,t.updateTime,
            t.registerId,tz.farmId,tf.farmName,tf.owner farmOwner,tf.admin farmAdmin,tf.employee farmEmployee,
            tc.farmZoneId,tz.farmZoneCode,t.cattleId,tc.cattleCode,
            t.checkDay,t.checkUser,t.result
        from t_breed_pregnancy_check t
        left join t_breed_register tr on t.registerId=tr.registerId
        left join t_cattle tc on tr.cattleId=tc.cattleId
        left join t_farm_zone tz on tc.farmZoneId=tz.farmZoneId
        left join t_farm tf on tz.farmId=tf.farmId
        where t.id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by checkDay desc,farmName,farmZoneCode,cattleCode
    </select>

    <insert id="addBreedPregnancyCheck">
        insert into t_breed_pregnancy_check(createUser,createTime,updateUser,updateTime,
                                            registerId,checkDay,checkUser,result)
        values (#{createUser},now(),#{updateUser},now(),
                #{registerId},#{checkDay},#{checkUser},#{result})
    </insert>

    <delete id="delBreedPregnancyCheck">
        delete from t_breed_pregnancy_check
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="listBreedPregnancyResult" resultType="com.manage.cattle.dto.breed.BreedPregnancyResultDTO">
        select
        t.id,t.createUser,t.createTime,t.updateUser,t.updateTime,
        t.registerId,tz.farmId,tf.farmName,tf.owner farmOwner,tf.admin farmAdmin,tf.employee farmEmployee,
        tc.farmZoneId,tz.farmZoneCode,tr.cattleId,tc.cattleCode,
        t.resultDay,t.operaUser,t.result,t.remark,t.childrenIds
        from t_breed_pregnancy_result t
        left join t_breed_register tr on t.registerId=tr.registerId
        left join t_cattle tc on tr.cattleId=tc.cattleId
        left join t_farm_zone tz on tc.farmZoneId=tz.farmZoneId
        left join t_farm tf on tz.farmId=tf.farmId
        where 1=1
        <if test="registerId!=null and registerId!=''">
            and t.registerId like concat('%',#{registerId},'%')
        </if>
        <if test="farmName!=null and farmName!=''">
            and tf.farmName like concat('%',#{farmName},'%')
        </if>
        <if test="farmZoneCode!=null and farmZoneCode!=''">
            and tz.farmZoneCode like concat('%',#{farmZoneCode},'%')
        </if>
        <if test="cattleCode!=null and cattleCode!=''">
            and tc.cattleCode like concat('%',#{cattleCode},'%')
        </if>
        <if test="resultDayStart!=null and resultDayStart!=''">
            and t.resultDay &gt;= #{resultDayStart}
        </if>
        <if test="resultDayEnd!=null and resultDayEnd!=''">
            and t.resultDay &lt;= #{resultDayEnd}
        </if>
        <if test="operaUser!=null and operaUser!=''">
            and t.operaUser like concat('%',#{operaUser},'%')
        </if>
        <if test="result!=null and result!=''">
            and t.result=#{result}
        </if>
        <if test="remark!=null and remark!=''">
            and tc.remark like concat('%',#{remark},'%')
        </if>
        order by resultDay desc,farmName,farmZoneCode,cattleCode
    </select>

    <select id="listBreedPregnancyResultByIds" resultType="com.manage.cattle.dto.breed.BreedPregnancyResultDTO">
        select
        t.id,t.createUser,t.createTime,t.updateUser,t.updateTime,
        t.registerId,tz.farmId,tf.farmName,tf.owner farmOwner,tf.admin farmAdmin,tf.employee farmEmployee,
        tc.farmZoneId,tz.farmZoneCode,t.cattleId,tc.cattleCode,
        t.resultDay,t.operaUser,t.result,t.remark,t.childrenIds
        from t_breed_pregnancy_result t
        left join t_breed_register tr on t.registerId=tr.registerId
        left join t_cattle tc on tr.cattleId=tc.cattleId
        left join t_farm_zone tz on tc.farmZoneId=tz.farmZoneId
        left join t_farm tf on tz.farmId=tf.farmId
        where t.id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by resultDay desc,farmName,farmZoneCode,cattleCode
    </select>

    <insert id="addBreedPregnancyResult">
        insert into t_breed_pregnancy_result(createUser,createTime,updateUser,updateTime,
                                             registerId,resultDay,operaUser,result,remark,childrenIds)
        values (#{createUser},now(),#{updateUser},now(),
                #{registerId},#{resultDay},#{operaUser},#{result},#{remark},#{childrenIds})
    </insert>

    <delete id="delBreedPregnancyResult">
        delete from t_breed_pregnancy_result
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>