<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.cattle.dao.base.FarmDao">
    <select id="listFarm" resultType="com.manage.cattle.dto.base.FarmDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmName,owner,admin,employee,address,area,scale
        from t_farm
        where 1=1
        <if test="farmName!=null and farmName!=''">
            and farmName like concat('%',#{farmName},'%')
        </if>
        order by farmName
    </select>

    <select id="getFarm" resultType="com.manage.cattle.dto.base.FarmDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmName,owner,admin,employee,address,area,scale
        from t_farm
        where farmName=#{farmName}
    </select>

    <insert id="addFarm">
        insert into t_farm(createUser,createTime,updateUser,updateTime,
                           farmId,farmName,owner,admin,employee,address,area,scale)
        values (#{createUser},now(),#{updateUser},now(),
                #{farmId},#{farmName},#{owner},#{admin},#{employee},#{address},#{area},#{scale})
    </insert>

    <update id="updateFarm">
        update t_farm
        set updateUser=#{updateUser},updateTime=now(),
            farmName=#{farmName},owner=#{owner},admin=#{admin},employee=#{employee},
            address=#{address},area=#{area},scale=#{scale}
        where farmId=#{farmId}
    </update>

    <delete id="delFarm">
        delete from t_farm
        where farmId in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>