<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.cattle.dao.base.FarmDao">
    <select id="listFarm" resultType="com.manage.cattle.dto.base.FarmDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmName,owner,admin,employee,address,area,scale
        from t_farm
        where 1=1
        <if test="farmName!=null and farmName!=''">
            and farmName like concat('%',#{farmName},'%')
        </if>
        order by farmName
    </select>

    <select id="getFarmById" resultType="com.manage.cattle.dto.base.FarmDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmName,owner,admin,employee,address,area,scale
        from t_farm
        where farmId=#{farmId}
    </select>

    <select id="getFarm" resultType="com.manage.cattle.dto.base.FarmDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmName,owner,admin,employee,address,area,scale
        from t_farm
        where farmName=#{farmName}
    </select>

    <insert id="addFarm">
        insert into t_farm(createUser,createTime,updateUser,updateTime,
                           farmId,farmName,owner,admin,employee,address,area,scale)
        values (#{createUser},now(),#{updateUser},now(),
                #{farmId},#{farmName},#{owner},#{admin},#{employee},#{address},#{area},#{scale})
    </insert>

    <update id="updateFarm">
        update t_farm
        set updateUser=#{updateUser},updateTime=now(),
            farmName=#{farmName},owner=#{owner},admin=#{admin},employee=#{employee},
            address=#{address},area=#{area},scale=#{scale}
        where farmId=#{farmId}
    </update>

    <update id="saveAdminEmployee">
        update t_farm
        set updateUser=#{updateUser},updateTime=now(),
            admin=#{admin},employee=#{employee}
        where farmId=#{farmId}
    </update>

    <delete id="delFarm">
        delete from t_farm
        where farmId in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="listFarmByZoneIds" resultType="com.manage.cattle.dto.base.FarmDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmName,owner,admin,employee,address,area,scale
        from t_farm
        where farmId in (
            select farmId from t_farm_zone
            where farmZoneId in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
    </select>

    <select id="listFarmZone" resultType="com.manage.cattle.dto.base.FarmZoneDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmZoneId,farmZoneCode,farmZoneRemark,size
        from t_farm_zone
        where 1=1
        <if test="farmId!=null and farmId!=''">
            and farmId=#{farmId}
        </if>
        <if test="farmZoneCode!=null and farmZoneCode!=''">
            and farmZoneCode like concat('%',#{farmZoneCode},'%')
        </if>
        <if test="farmZoneRemark!=null and farmZoneRemark!=''">
            and farmZoneRemark like concat('%',#{farmZoneRemark},'%')
        </if>
        order by farmZoneCode
    </select>

    <select id="getFarmZoneById" resultType="com.manage.cattle.dto.base.FarmZoneDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmZoneId,farmZoneCode,farmZoneRemark,size
        from t_farm_zone
        where farmZoneId=#{farmZoneId}
    </select>

    <select id="getFarmZone" resultType="com.manage.cattle.dto.base.FarmZoneDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmId,farmZoneId,farmZoneCode,farmZoneRemark,size
        from t_farm_zone
        where farmZoneCode=#{farmZoneCode}
    </select>

    <insert id="addFarmZone">
        insert into t_farm_zone(createUser,createTime,updateUser,updateTime,
                                farmId,farmZoneId,farmZoneCode,farmZoneRemark,size)
        values (#{createUser},now(),#{updateUser},now(),
                #{farmId},#{farmZoneId},#{farmZoneCode},#{farmZoneRemark},#{size})
    </insert>

    <update id="updateFarmZone">
        update t_farm_zone
        set updateUser=#{updateUser},updateTime=now(),
            farmId=#{farmId},farmZoneCode=#{farmZoneCode},
            farmZoneRemark=#{farmZoneRemark},size=#{size}
        where farmZoneId=#{farmZoneId}
    </update>

    <delete id="delFarmZone">
        delete from t_farm_zone
        where farmZoneId in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>