<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.cattle.dao.base.FarmDao">
    <select id="listFarm" resultType="com.manage.cattle.dto.base.FarmDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmCode,farmName,address,area,scale
        from t_farm
        where 1=1
        <if test="farmCode!=null and farmCode!=''">
            and farmCode like concat('%',#{farmCode},'%')
        </if>
        <if test="farmName!=null and farmName!=''">
            and farmName like concat('%',#{farmName},'%')
        </if>
        <if test="address!=null and address!=''">
            and address like concat('%',#{address},'%')
        </if>
        <if test="area!=null and area!=''">
            and area like concat('%',#{area},'%')
        </if>
        <if test="scale!=null and scale!=''">
            and scale like concat('%',#{scale},'%')
        </if>
        order by farmName
    </select>

    <select id="getFarm" resultType="com.manage.cattle.dto.base.FarmDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmCode,farmName,address,area,scale
        from t_farm
        where farmCode=#{farmCode}
    </select>

    <insert id="addFarm">
        insert into t_farm(createUser,createTime,updateUser,updateTime,
                           farmCode,farmName,address,area,scale)
        values (#{createUser},now(),#{updateUser},now(),
                #{farmCode},#{farmName},#{address},#{area},#{scale})
    </insert>

    <update id="updateFarm">
        update t_farm
        set updateUser=#{updateUser},updateTime=now(),
            farmName=#{farmName},address=#{address},
            area=#{area},scale=#{scale}
        where farmCode=#{farmCode}
    </update>

    <delete id="delFarm">
        delete from t_farm
        where farmCode in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="listFarmZone" resultType="com.manage.cattle.dto.base.FarmZoneDTO">
        select
            fz.id,fz.createUser,fz.createTime,fz.updateUser,fz.updateTime,
            f.farmCode,f.farmName,fz.farmZoneCode,fz.farmZoneName,fz.farmZoneRemark,fz.size
        from t_farm_zone fz
        left join t_farm f on fz.farmCode=f.farmCode
        where 1=1
        <if test="farmCode!=null and farmCode!=''">
            and f.farmCode=#{farmCode}
        </if>
        <if test="farmZoneCode!=null and farmZoneCode!=''">
            and fz.farmZoneCode like concat('%',#{farmZoneCode},'%')
        </if>
        <if test="farmZoneName!=null and farmZoneName!=''">
            and fz.farmZoneName like concat('%',#{farmZoneName},'%')
        </if>
        <if test="farmZoneRemark!=null and farmZoneRemark!=''">
            and fz.farmZoneRemark like concat('%',#{farmZoneRemark},'%')
        </if>
        <if test="farmCodeList!=null and farmCodeList.size()>0">
            and fz.farmCode in
            <foreach collection="farmCodeList" item="fCode" open="(" separator="," close=")">
                #{fCode}
            </foreach>
        </if>
        <if test="farmZoneCodeList!=null and farmZoneCodeList.size()>0">
            and fz.farmZoneCode in
            <foreach collection="farmZoneCodeList" item="zCode" open="(" separator="," close=")">
                #{zCode}
            </foreach>
        </if>
        order by farmName,farmZoneCode
    </select>

    <select id="getFarmZone" resultType="com.manage.cattle.dto.base.FarmZoneDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            farmCode,farmZoneCode,farmZoneName,farmZoneRemark,size
        from t_farm_zone
        where farmZoneCode=#{farmZoneCode}
    </select>

    <insert id="addFarmZone">
        insert into t_farm_zone(createUser,createTime,updateUser,updateTime,
                                farmCode,farmZoneCode,farmZoneName,farmZoneRemark,size)
        values (#{createUser},now(),#{updateUser},now(),
                #{farmCode},#{farmZoneCode},#{farmZoneName},#{farmZoneRemark},#{size})
    </insert>

    <update id="updateFarmZone">
        update t_farm_zone
        set updateUser=#{updateUser},updateTime=now(),
            farmZoneName=#{farmZoneName},farmZoneRemark=#{farmZoneRemark},size=#{size}
        where farmZoneCode=#{farmZoneCode}
    </update>

    <delete id="delFarmZone">
        delete from t_farm_zone
        where farmZoneCode in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>