<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.cattle.dao.base.SysDao">
    <select id="listSysJob" resultType="com.manage.cattle.dto.base.SysJobDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            jobCode,jobName,jobDesc,jobPower
        from t_sys_job
        order by jobCode
    </select>

    <select id="getSysJob" resultType="com.manage.cattle.dto.base.SysJobDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            jobCode,jobName,jobDesc,jobPower
        from t_sys_job
        where jobCode=#{jobCode}
    </select>

    <insert id="addSysJob">
        insert into t_sys_job(createUser,createTime,updateUser,updateTime,
                              jobCode,jobName,jobDesc,jobPower)
        values (#{createUser},now(),#{updateUser},now(),
                #{jobCode},#{jobName},#{jobDesc},#{jobPower})
    </insert>

    <update id="updateSysJob">
        update t_sys_job set updateUser=#{updateUser},updateTime=now(),
                             jobName=#{jobName},jobDesc=#{jobDesc},jobPower=#{jobPower}
        where jobCode=#{jobCode}
    </update>

    <delete id="delSysJob">
        delete from t_sys_job where jobCode=#{jobCode}
    </delete>

    <select id="listSysConfig" resultType="com.manage.cattle.dto.common.SysConfigDTO">
        select
        id,createUser,createTime,updateUser,updateTime,
        `code`,`key`,`value`,`sort`
        from t_sys_config
        where 1=1
        <if test="code!=null and code!=''">
            and `code`=#{code}
        </if>
        <if test="codeList!=null and codeList.size()>0">
            and `code` in
            <foreach collection="codeList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by `code`,`sort`
    </select>

    <insert id="addSysConfig">
        insert into t_sys_config(createUser,createTime,updateUser,updateTime,
                                 `code`,`key`,`value`,`sort`)
        values (#{createUser},now(),#{updateUser},now(),
                #{code},#{key},#{value},#{sort})
    </insert>

    <delete id="delSysConfig">
        delete from t_sys_config
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>