<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.cattle.dao.base.UserDao">
    <select id="login" resultType="com.manage.cattle.dto.base.UserDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            username,name,job,phone,isSysAdmin,status
        from t_user
        where username=#{username} and password=#{password} and status='incumbent'
    </select>

    <select id="getUser" resultType="com.manage.cattle.dto.base.UserDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            username,name,job,phone,isSysAdmin,status
        from t_user
        where username=#{username}
    </select>

    <select id="listUser" resultType="com.manage.cattle.dto.base.UserDTO">
        select
            id,createUser,createTime,updateUser,updateTime,
            username,name,job,phone,isSysAdmin,status
        from t_user
        where 1=1
        <if test="username!=null and username!=''">
            and username like concat('%',#{username},'%')
        </if>
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="job!=null and job!=''">
            and job like concat('%',#{job},'%')
        </if>
        <if test="phone!=null and phone!=''">
            and phone like concat('%',#{phone},'%')
        </if>
        <if test="isSysAdmin!=null and isSysAdmin!=''">
            and isSysAdmin=#{isSysAdmin}
        </if>
        <if test="status!=null and status!=''">
            and status=#{status}
        </if>
        order by username
    </select>

    <insert id="addUser">
        insert into t_user(createUser,createTime,updateUser,updateTime,
                           username,password,name,
                           job,phone,isSysAdmin,status)
        values (#{createUser},now(),#{updateUser},now(),
                #{username},#{password},#{name},
                #{job},#{phone},#{isSysAdmin},#{status})
    </insert>

    <update id="updateUser">
        update t_user
        set updateUser=#{updateUser},updateTime=now(),
            name=#{name},job=#{job},phone=#{phone},
            isSysAdmin=#{isSysAdmin},status=#{status}
        where username=#{username}
    </update>

    <update id="setUserStatus">
        update t_user
        set updateUser=#{updateUser},updateTime=now(),status=#{status}
        where username in
        <foreach collection="usernameList" index="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="resetPassword">
        update t_user
        set updateUser=#{updateUser},updateTime=now(),password=#{password}
        where username in
        <foreach collection="usernameList" index="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <delete id="delUser">
        delete from t_user
        where username in
        <foreach collection="list" index="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>